rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /season_pass/{docId} {
      allow read: if true;
      allow write: if false;
    }

    match /remote_missions/{docId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
